<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p-table>
        <ng-template pTemplate="Header">
            <tr>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pais>
            <tr>
                <td>Pais</td>
                <td>Capital</td>
                <td>Poblacion</td>
            </tr>
            <tr>
                <td>{{pais.nombre}}</td>
                <td>{{pais.capital}}</td>
                <td>{{pais.poblacion}}</td>
            </tr>
            
        </ng-template> 
    </p-table>
</body>
</html>